
  <div class="user-comment-card">
  <div class="linebetween-10"></div>
    <div class="user-display">
      <div class="avatar">
        <%= link_to user_path(comment_selected.user) do %>
          <%=image_tag(comment_selected.user.photo_url) %>
        <% end %>
      </div>
      <div class="user-input">
        <div class="user-info">
          <%= link_to user_path(comment_selected.user) do %>
            <%= comment_selected.user.first_name%> <%= comment_selected.user.last_name%>, <%= comment_selected.user.activity %>

          <% end %>
        </div>
            <p class="comment-date">Partagé le <%=comment_selected.date %></p>
      </div>
    </div>
    <div class="user-comment-data">
      <p class="title-comment"> <%= comment_selected.title %></p>
      <p class="text-comment"> <%= comment_selected.text %></p>
      <p class="source">
        <%if comment_selected.source.present? %>
            Source :
          <a href="<%= comment_selected.source %>">
            <%= URI.parse(comment_selected.source.strip).host %>
          </a>
        <%end %>
      </p>
      <div class="flex-title-comment">
      <div><%= '<i class="fas fa-caret-up"></i>'.html_safe %></div>
     <div><%= comment_selected.upvotes %></div>
     </div>
    </div>
  </div>

