<div class="linebetween"></div>
<div class="user-comment-card">
  <div class="user-display">
    <div class="avatar">
      <%= link_to user_path(comment.user) do %>
        <%=image_tag(comment.user.photo_url) %>
      <% end %>
    </div>
    <div class="user-input">
      <div class="user-info">
        <%= link_to user_path(comment.user) do %>
          <%= comment.user.first_name%> <%= comment.user.last_name%>, <%= comment.user.activity %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="user-comment-data">
    <p class="title-comment"> <%= comment.title %></p>
    <p class="text-comment"> <%= comment.text %></p>
    <p class="source">
      <%if comment.source.present? %>
          Source :
        <a href="<%= comment.source %>">
          <%= URI.parse(comment.source.strip).host %>
        </a>
      <%end %>
    </p>
  </div>
</div>

