<div class="linebetween"></div>
<div class="user-comment-card">
  <div class="user-display">
    <div class="avatar">
      <%=image_tag(comment.user.photo_url) %>
    </div>
    <div class="user-input">
      <div class="user-info">
        <%= comment.user.first_name%> <%= comment.user.last_name%>, <%= comment.user.activity %>
      </div>
    </div>
  </div>
  <div class="user-comment-data">
    <p class="title-comment"> <%= comment.title %></p>
    <p class="text-comment"> <%= comment.text %></p>
    <p class="source">
    <%if comment.source.present? %>
      Source :
    <%end %>
     <a href="<%= comment.source %>"><% comment_source = URI.parse( "comment.source" ) %>
    <% comment_source = URI.parse(comment.source).host %>
      <%= comment_source %></a>
    </p>
  </div>
</div>

