<div class="categories">
  <%= render 'categories/index', categories: @categories %>
</div>
<div class="all-content">
  <div class="sub_categories_boxes">
    <div class="sub_categories <%= @category&.name %>">
      <%= render 'sub_categories/index_comments', sub_categories: @sub_categories, category: @category, selected: @sub_categories_selected, categories: @categories %>
    </div>
  </div>
    <%= render 'comments/index', comments: @comments %>
</div>



 <%= render "shared/new_modal", article: @article %>
 <%= render "shared/comment_modal", comment: @comment %>


