<div class="pcc-wrapper">
  <div class="categories">
    <%= render 'categories/index', categories: @categories %>
  </div>
  <div class="all-content">
    <div class="sub_categories">
      <div class="left-side-info left-side-info-show">
        <div class="associated-articles-title">
        Articles associés
        </div>
        <div class="linebetween"></div>
        <% if @comment != nil %>
        <p> <%= "Soyez le premier à partager un article" %> </p>
        <% else  %>

        <% end %>
      </div>
    </div>
    <div class="main-content">
      <div class="title-debate">
        <div class=comment-upvote>
          <div class="upvote-carre-comment <%= @comment.category.name %>">
            <% if @comment.by_user_comment_upvotes.any? {|by_user_comment_upvote| by_user_comment_upvote.user_id == current_user.id}%>
              <div data-comment-arrow="<%= @comment.id %>" class="up-arrow"><%= link_to '<i class="fas fa-caret-up"></i>'.html_safe, like_comment_path(@comment), method: :put, remote: true %></div>
              <div  class="card-up-comment active" data-comment="<%= @comment.id %>"><%= @comment.upvotes %> </div>
            <% else %>
              <div data-comment-arrow="<%= @comment.id %>" class="inactive-arrow"><%= link_to '<i class="fas fa-caret-up"></i>'.html_safe, like_comment_path(@comment), method: :put, remote: true %></div>
              <div  class="card-up-comment" data-comment="<%= @comment.id %>"><%= @comment.upvotes %> </div>
            <%end %>
          </div>
        </div>
        <div class="comment-title">
          <%= @comment.title %>
        </div>
      </div>
      <div class="linebetween-6"></div>

        <div class="comment-all">
          <%= link_to comment_path(@comment) do %>
            <div class="comment-inner-text">
              <div class="flex-photo-info">
                <div class="photo-user-article">
                  <%= link_to user_path(@comment.user) do %>
                    <%=image_tag @comment.user.photo_url, class: "avatar-article" %>
                  <%end %>
                </div>
                <div class="user-infos-comment">
                   Proposé par
                  <%= link_to user_path(@comment.user) do %>
                   <%= @comment.user.first_name%> <%= @comment.user.last_name%>
                  <% end %>
                  , le <%=@comment.date %>
                </div>
                <div class="sub_categories_infos_comment" >
                  <div class="cat-info <%= @comment.category.name %>">
                    <%= @comment.category.name %>
                  </div>
                  <% @comment.comment_sub_categories.each do |comment_sub_category| %>
                    <%=link_to "#{comment_sub_category.sub_category.name}", comments_path(query: { sub_category_names: [comment_sub_category.sub_category.name], category_name: comment_sub_category.sub_category.category.name, date_from: params.dig(:query, :date_from) }) %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="text-comment">
              <div class="text-left">
                <%if @comment.text.split.count < 25 %>
                  <%= @comment.text %>
                <%else %>
                  <%= @comment.text.split.first(@comment.text.split.count/2).join(' ') %>
                <%end %>
              </div>
              <div class="space-in-between"></div>
              <div class="text-right">
                <%if @comment.text.split.count > 25 %>
                  <%= @comment.text.split[@comment.text.split.count/2..-1].join(' ') %>
                <%end %>
              </div>
            </div>
            <%end %>
          </div>

        <div class="answers-title">
          <div class="title-reponses">
          Réponses
          </div>
        </div>
        <div class="linebetween"></div>
        <div class="all-answers">
          <% if @comment.sub_comments.first == nil%>
          <%else %>
            <% @comment.sub_comments.each do |sub_comment| %>
              <%= render"shared/sub_comment_card", sub_comment: sub_comment %>
            <%end %>
          <% end %>
        <div class="answers">
          <div class="sub-comments-form">
            <%= simple_form_for([@comment, @sub_comment]) do |form| %>
              <%= form.input :title, label: :Titre %>
              <%= form.input :text, label: :Contribution %>
              <%= form.input :source, label: :Source, placeholder: "Collez ici le lien de votre source" %>
            <div class="sub-comment-submit">
              <%= form.button :submit, "Participez", class: "button-black" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/new_modal", article: @article %>
<%= render "shared/comment_modal", comment: @comment %>
