
<div class="wrapper">
  <div class="thèmes">
    <div class="tab">
      <button class="tablinks" >Ecologie</button>
      <button class="tablinks" >Politique</button>
      <button class="tablinks">Economie</button>
      <button class="tablinks" >Numérique</button>
    </div>
  </div>
  <div class="all-content">
    <div class="left-side-info">
    </div>
    <div class="main-content">
      <div class="top-feed">
        <h2>Meilleurs articles</h2>
        <button class="tablinks" >Jour</button>
        <button class="tablinks" >Mois</button>
        <button class="tablinks">Année</button>
      </div>

      </div>
      <div class="card listed-article">
        <div id="Ecologie" class="tabcontent">
          <h2>Ecologie</h2>
            <%=  @ecologie_articles.each do |article|%>
            <%= article.user.pseudo%>
            <%= raw Onebox.preview(article.URL) %>
          <%end %>
        </div>
        <div id="Politique" class="tabcontent">
          <h2>Politique</h2>
            <%=  @politique_articles.each do |article|%>
            <%= article.user.pseudo%>
            <%= raw Onebox.preview(article.URL) %>
          <%end %>
        </div>
        <div id="Economie" class="tabcontent">
          <h2>Economie</h2>
            <%=  @economie_articles.each do |article|%>
            <%= article.user.pseudo%>
            <%= raw Onebox.preview(article.URL) %>
          <%end %>
        </div>
        <div id="Numérique" class="tabcontent">
          <h2>Numérique</h2>
            <%=  @numerique_articles.each do |article|%>
            <%= article.user.pseudo%>
            <%= raw Onebox.preview(article.URL) %>
          <%end %>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
  </div>
</div>


<!-- <script>
  function openTheme(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script> -->
