
<div class="pcc-wrapper">
  <div class="thèmes">
    <div class="tab">
      <% @categories.each do |category| %>
        <button class="tablinks <%= category.name %>" ><%= category.name %></button>
      <% end %>

    </div>
  </div>
  <% @categories.each do |category| %>
    <div class="tabcontent" id="<%= category.name %>">
      <div class="left-side-info">

        <h2><%= category.name %></h2>
        <ul class="liste-subcategory">
        <% category.sub_categories.each do |sub_category| %>
          <li class="tablink <%= category.name %>" ><%= sub_category.name %></li>
        <% end %>
        </ul>
      </div>
      <div class="main-content">
        <h2>Meilleurs articles</h2>
        <% category.articles.each do |article|%>

          <%= render "shared/card", article: article %>
        <%end %>
      </div>
    </div>


  <% end %>
    <div id="bestof" class="tabcontent-active">

      <div class="left-side-info">
      </div>
      <div class="main-content">
        <div class="top-feed">
          <h2>Meilleurs articles</h2>
          <div class="top-feed">
            <button>Jour</button>
            <button >Mois</button>
            <button>Année</button>
          </div>

        </div>
        <% @articles.each do |article| %>
          <%= render "shared/card", article: article %>
        <%end %>
      </div>
    </div>
  </div>
</div>


<!-- <script>
  function openTheme(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script> -->
