<div class="pcc-wrapper">
  <div class="thèmes">
    <div class="tab">
      <% @categories.each do |category| %>
        <%= link_to category.name, articles_path(query: { category_name: category.name }), class: 'tablinks' %>
      <% end %>
    </div>
  </div>

  <div class="sub_categories">
    <%= render 'sub_categories/index', sub_categories: category.sub_categories %>
  </div>

  <div class="articles-container">
    <% @articles.each do |article| %>
      <%= render "shared/card", article: article %>
    <%end %>
  </div>
</div>

<!--
  <div class="left-side-info">
    <h2><%= category.name %></h2>
    <div class="linebetween2"></div>
    <ul class="liste-subcategory">
    <% category.sub_categories.each do |sub_category| %>
      <li class="tablink <%= category.name %>" ><%= sub_category.name %></li>
    <% end %>
    </ul>
  </div>
  <div class="main-content">

    <% @articles.each do |article| %>
      <%= render "shared/card", article: article %>
    <%end %>
  </div>



  <% @categories.each do |category| %>
    <div class="tabcontent" id="<%= category.name %>">
      <div class="left-side-info">
        <h2><%= category.name %></h2>
        <div class="linebetween2"></div>
        <ul class="liste-subcategory">
        <% category.sub_categories.each do |sub_category| %>
          <li class="tablink <%= category.name %>" ><%= sub_category.name %></li>
        <% end %>
        </ul>
      </div>
      <div class="main-content">
        <h2>Meilleurs articles</h2>
        <% category.articles.each do |article|%>
          <%= render "shared/card", article: article %>
        <%end %>
      </div>
    </div>
  <% end %>
    <div id="bestof" class="tabcontent-active">
      <div class="left-side-info">
      </div>
      <div class="main-content">
        <div class="top-feed">
          <h2>Meilleurs articles</h2>
          <div class="top-feed">
            <!-- TODO -->
          </div>
        </div>
        <% @articles.each do |article| %>
          <%= render "shared/card", article: article %>
        <%end %>
      </div>
    </div>
    <div class="foot">
      <%= render "shared/footer"%>
    </div>
  </div>
</div>
 -->
