<div class="pcc-wrapper">

  <h1>Partager un article</h1>


  <div class="categories">
    <div class="category-box">
      <%= image_tag 'https://via.placeholder.com/250x150.png', class: 'category-image' %>
      <div class="sub-categories hidden">
        <% category = Category.first %>
        <% category.sub_categories.each do |sub_category| %>
          <div class="subcategory-choice">
            <input class="form-check-input check_boxes optional" type="checkbox" value="<%= sub_category.id %>" name="article[sub_category_ids][]" id="article_sub_category_ids_<%= sub_category.id %>" />
            <label class="collection_check_boxes" for="article_sub_category_ids_<%= sub_category.id %>"><%= sub_category.name %></label>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
