 <h1> <%= @article.category %> </h1>

 <h2> <%= @article.subcategory %></h2>


<div class="wrapper">
  <div class="themes">

  </div>
  <div class="container">
    <div class="left-side-info">
      <h1>Participants</h1>
    </div>
    <div class="row">
      <h1>Débat</h1>
      <div class="card">
        <%= @article.URL %>
      </div>
        <h2>
          <%= pluralize @article.comments.size, "comment" %>
        </h2>
      <div class="comments">
        <% if @article.comments.blank? %>
          Be the first to leave a comment for <%= @article.name %>
          <% else %>
          <% @article.comments.each do |comment| %>
            <%= render 'comments/show', comment: comment %>
            <% end %>
          <% end %>
          <%= render 'comments/form', article: @article, comment: @comment %>
      </div>
    </div>

  </div>
  <div class="footer">
  </div>
</div>
