<div class="pcc-wrapper">
  <div class="themes categories">
    <%= render 'categories/index', categories: @categories %>
  </div>
  <div class="all-content">
    <div class="sub_categories">
      <div class="left-side-info left-side-info-show">
        <h2>Participants</h2>
        <div class="linebetween"></div>
        <% if @article.comments.blank? %>
        <p> <%= "Soyez le premier à participer" %> </p>
        <% else  %>
        <% users = [] %>
        <% @article.comments.each do |comment| %>
          <% users << comment.user %>
        <% end %>
        <% users.uniq.last(5).each do |user| %>
          <div class="user">
            <div class="photo">
              <%=image_tag user.photo_url, class: "avatar_sidebar" %>
            </div>
            <div class="infos_user">
              <ul>
                <li class="user_name">
                  <%= link_to user_path(user) do %>
                    <%=user.first_name %> <%=user.last_name  %>
                  <% end %>
                </li>
                <li class="info act"><%=user.activity%></li>
              </ul>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="main-content">
      <div class="title-debate">
      <h2>Débat</h2>
      </div>
      <div class="card listed-article">
        <%= render "shared/card", article: @article %>
      </div>

      <div class="comment-section">
        <div class="current_user_info">
          <div class="current_user_img">
            <%= link_to user_path(current_user) do %>
              <%=image_tag current_user.photo_url, class: "avatar_sidebar" %>
            <% end %>
          </div>
          <div class="user-names">
            <%= link_to user_path(current_user) do %>
              <%= current_user.first_name %>
              <%= current_user.last_name %>,
              <%= current_user.activity %>
            <% end %>
          </div>
        </div>

          <div class="bar-button">
            <button type="button" class="user-comment-button" data-toggle="modal" data-target=".modal_new_comment">Lancer un nouveau débat</button>
          </div>

      </div>

      <div class="linebetween3"></div>

      <div class="all-debats">
        <%@article.comments.first(6).each do |comment| %>
          <p class="title-comment"> <%= comment.title %></p>
        <%end %>
      </div>
      <div id="comments">
        <% if @article.comments.blank? %>
          <%= render 'shared/comment_modal', title: "Créer un nouveau débat", article: @article, comment: @comment %>
        <% else %>
          <% @article.comments.each do |comment| %>
            <%= render 'comments/show', comment: comment %>
          <% end %>
          <button type="button" class="navbar-wagon-item-comment button-black modal-button-new-comment" data-toggle="modal" data-target=".modal_new_comment" id="teest">
            Publier une réponse
          </button>
          <%= render 'shared/comment_modal', title: "Ajouter une réponse", article: @article, comment: @comment %>
        <% end %>
        <!-- Modal -->
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>

<%= render "shared/new_modal", article: @article %>




