<div class="pcc-wrapper">
  <div class="themes">

  </div>
  <div class="all-content">
    <div class="left-side-info">
      <h1>Participants</h1>
    </div>
    <div class="main-content">
      <h1>Débat</h1>
      <div class="card listed-article">
        <%=raw Onebox.preview(@article.URL) %>
      </div>
        <h2>
          <%= pluralize @article.comments.count, "comment" %>
        </h2>
      <div id="comments">
        <% if @article.comments.blank? %>
          Be the first to leave a comment for <%= @article.URL %>
        <% else %>
          <% @article.comments.each do |comment| %>
            <%= render 'comments/show', comment: comment %>
            <% end %>
          <% end %>
      </div>
      <%= render 'comments/form', article: @article, comment: @comment %>
    </div>
  </div>

  <div class="footer">
  </div>
</div>

