<div class="left-side-info">
<h2>Les plus actifs</h2>
<div class="linebetween"></div>
<%users = [] %>
 <%@articles.first(15).each do |article| %>
 <%users << article.user %>
 <%end %>
 <%users.uniq.first(5).each do |user| %>
<div class="user">
  <div class="photo">
    <%=image_tag user.photo_url, class: "avatar_sidebar" %>
  </div>
  <div class="infos_user">
    <ul>
      <li class="user_name">
        <%= link_to user_path(user) do %>
          <%=user.first_name %> <%=user.last_name  %>
        <% end %>
      </li>
      <li class="info"><%=user.activity%></li>
      <li class="info"><%=user.articles.count%>
        <% if user.articles.count == 1 %>
          partage
        <%else %>
          partages
        <%end %>
      </li>
    </ul>
  </div>
</div>
 <%end %>
</div>







