<div class="left-side-info les-plus-actifs">
  <h2>Les plus influents</h2>
  <div class="linebetween-10"></div>
  <%users = [] %>
  <%@articles.first(15).each do |article| %>
   <%users << article.user %>
  <%end %>
  <%users.uniq.first(5).each do |user| %>
    <div class="user">
      <div class="photo">
        <%= link_to user_path(user) do %>
          <%=cl_image_tag user.photo, height: 50, width: 50, crop: :fill, gravity: :face, class: "avatar_sidebar" %>
      </div>
      <div class="infos_user">
        <ul>
          <li class="user_name">
              <%=user.first_name %> <%=user.last_name  %>
        <% end %>
          </li>
          <% if user.activity %>
            <li class="info act"><%=user.activity%></li>
          <%end %>
          <li class="info count"><%=user.articles.count%>
            <% if user.articles.count == 1 %>
              partage
            <%else %>
              partages
            <%end %>
          </li>
        </ul>
      </div>
    </div>
   <%end %>
</div>







