<div class="card listed-article" data-sub-categories="<%= article.sub_categories.pluck(:name).join(" ") %>">

  <div class="user-info">
    <%= article.user.pseudo%>
  </div>
  <div class="article-comment">
    <%= article.description %>
  </div>

  <div class="article-preview">
    <div class="article-img">
      <img src="<%= article.image %>" height="150">
    </div>
    <div class="article-info">
      <h2 class="article-title"><%= article.title %></h2>
      <p class="article-source"><%= article.source %></p>
      <p class="article-site_description"><%= article.site_description %></p>
    </div>
  </div>

  <div class="footer-card">
    <div class="footer-info">
    </div>
    <div class="footer-action">
      <%= link_to 'DÉBAT', article_path(article) %> UPVOTE
    </div>
  </div>
</div>

