<div class="linebetween">
</div>
<div class="flex-upvote">
<!-- <div class="upvote">
  <div class="up-with-style">
   <% if article.by_user_upvotes.any? {|by_user_upvote| by_user_upvote.user_first_name == current_user.first_name}%>
      <div data-article-arrow="<%= article.id %>" class="up-arrow"><%= link_to '<i class="fas fa-caret-up"></i>'.html_safe, like_article_path(article), method: :put, remote: true %></div>
      <% else %>
        <div data-article-arrow="<%= article.id %>" class="inactive-arrow"><%= link_to '<i class="fas fa-caret-up"></i>'.html_safe, like_article_path(article), method: :put, remote: true %></div>
      <%end %>
      <div  class="card-up" data-article="<%= article.id %>"><%= article.upvotes %> </div>
    </div>
</div> -->
<div class="card listed-article" data-sub-categories="<%= article.sub_categories.pluck(:name).join(" ") %>">
<!--   <div class="user-display">
  <div class="linebetween"></div>
    <div class="avatar">


      <%= link_to image_tag(article.user.photo_url), user_path(article.user) %>

    </div>
    <div class="user-input">
      <div class="user-info">
        <%= link_to user_path(article.user) do %>
          <p class="user-name"><%= article.user.first_name%> <%= article.user.last_name%>, <%= article.user.activity %></p>
        <% end %>
      </div>
        <p class="date">Partagé le <%=article.date %></p>
    </div>
  </div>
      <div class="article-comment">
       <%= article.description %>
      </div> -->
  <div class="article-preview " id="article-preview-<%= article.category.name %>">
    <div class="article-img">
         <% if article.by_user_upvotes.any? {|by_user_upvote| by_user_upvote.user_first_name == current_user.first_name}%>
      <div class="upvote-carre <%= article.category.name %> inactive">
        <div data-article-arrow="<%= article.id %>" class="up-arrow"><%= '<i class="fas fa-caret-up"></i>'.html_safe%></div>
        <div  class="card-up active" data-article="<%= article.id %>"><%= article.upvotes %> </div>
      </div>
      <% else %>
      <%= link_to like_article_path(article), method: :put, remote: true  do %>
      <div class="upvote-carre <%= article.category.name %>" >
           <div data-article-arrow="<%= article.id %>" class="inactive-arrow"><%=  '<i class="fas fa-caret-up"></i>'.html_safe%></div>
           <div  class="card-up" data-article="<%= article.id %>"><%= article.upvotes %> </div>
      </div>
      <%end %>
           <%end %>
      <a href="<%= article.URL %>" target="_blank"><img src="<%= article.image %>" height="150"></a>
    </div>
    <div class="article-info" >
      <h2 class="article-title <%= article.category.name %>"><a class="title" href="<%= article.URL %>"target="_blank"><%= article.title %></a></h2>
      <div class="article-source">
         <div class="photo-user-article">
        <%= link_to user_path(article.user) do %>
          <%=image_tag article.user.photo_url, class: "avatar-article" %>
          <%end %>
      </div>
      <div class="user-infos">
         Partagé par
        <%= link_to user_path(article.user) do %>
         <%= article.user.first_name%> <%= article.user.last_name%>
        <% end %>
        , le <%=article.date %>
      </div>
        <div class="source-article"><a href="<%= article.URL %>"target="_blank"><%= article.source %></a></div>
      </div>
      <p class="article-site_description" id="comment-section-anchor"><a href="<%= article.URL %>"target="_blank"><%= article.site_description %></a></p>
      <div class="sub_categories_infos" >
        <div class="cat-info <%= article.category.name %>">
        <%= article.category.name %>
        </div>
          <% article.article_sub_categories.each do |article_sub_category| %>
            <%=link_to "#{article_sub_category.sub_category.name}", articles_path(query: { sub_category_names: [article_sub_category.sub_category.name], category_name: article_sub_category.sub_category.category.name, date_from: params.dig(:query, :date_from) }) %>

          <% end %>
          <div class="article-comments <%= article.category.name %>" data-id="<%= article.id %>">
            <%= article.comment_articles.count %> commentaires
          </div>

      </div>
    </div>
  </div>
<!--   <div class="footer-card" >
    <div class="footer-info">


    </div>
    <div class="footer-action" >

        <p class="date">Partagé par</p>
        &nbsp;
        <%= link_to user_path(article.user) do %>
        <p class="user-first-last"> <%= article.user.first_name%> <%= article.user.last_name%></p>
        <% end %>
        <p class="date">, le <%=article.date %></p>


    </div>
  </div> -->
</div>
</div>
<div class="comment-article-all hidden <%= article.category.name %>" id="comment-article-<%=article.id %>" >
  <div class="comment-article-content">
     <div class="answers-cards">
        <%article.comment_articles.each do |comment_article| %>
        <%= render 'shared/card_comment_article', comment_article: comment_article %>
        <%end %>
      </div>
   <div class="sub-comments-form">
        <%= simple_form_for([article, @comment_article]) do |form| %>
          <%= form.input :text, label: :Contribution %>
          <div class="sub-comment-submit">
            <%= form.button :submit, "Répondre", class: "button-black" %>
          </div>
        <% end %>
      </div>
  </div>
  <div>
    <i class="fas fa-times cross" data-id="<%= article.id %>"></i>
  </div>
</div>
<!-- @articles[each] = article
article.sub_categories.each
sub_category.name -->
