<div class="card listed-article" data-sub-categories="<%= article.sub_categories.pluck(:name).join %>">
  <div class="user-info">
    <%= article.user.pseudo%>
  </div>
  <div class="article-comment">
    <%= article.description %>
  </div>
  <div class="article-preview">
    <%= raw Onebox.preview(article.URL) %> <%# a retirer %>
    <%= article.title %>
    <%= article.source %>
    <%= article.site_description %>
    <img src="<%= article.image %>" width="300" height="300" <%# tailles à modifier %> >

  </div>
  <div class="footer-card">
    <div class="footer-info">
    </div>
    <div class="footer-action">
      DÉBAT UPVOTE
    </div>
  </div>
</div>
