<div class="linebetween">
</div>
<div class="card listed-article" data-sub-categories="<%= article.sub_categories.pluck(:name).join(" ") %>">
  <div class="user-display">
  <div class="linebetween"></div>
    <div class="avatar">


      <%= link_to image_tag(article.user.photo_url), user_path(article.user) %>

    </div>
    <div class="user-input">
      <div class="user-info">
        <%= link_to user_path(article.user) do %>
          <%= article.user.first_name%> <%= article.user.last_name%>, <%= article.user.activity %>
        <% end %>
      </div>
    </div>
  </div>
      <div class="article-comment">
       <%= article.description %>
      </div>
  <div class="article-preview">
    <div class="article-img"><a href="<%= article.URL %>" target="_blank"><img src="<%= article.image %>" height="150"></a></div>
    <div class="article-info">
      <h2 class="article-title"><a href="<%= article.URL %>"target="_blank"><%= article.title %></a></h2>
      <p class="article-source"><a href="<%= article.URL %>"target="_blank"><%= article.source %></a></p>
      <p class="article-site_description"><a href="<%= article.URL %>"target="_blank"><%= article.site_description %></a></p>
    </div>
  </div>

  <div class="footer-card">
    <div class="footer-info">


      <div class="sub_categories_infos">


        <div>
          <% article.article_sub_categories.each do |article_sub_category| %>
            <%= article_sub_category.sub_category.name %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="footer-action">
      <% if !current_page?(:controller => 'articles', :action => 'show', :id => article.id) %>
      <div><%= link_to 'DEBATTRE', article_path(article) %></div>
      <%end %>
      <%if article.voted_up_by? current_user %>
        <div class="upvoted"><%= link_to '<i class="fas fa-sort-up"></i>'.html_safe, like_article_path(article), method: :put %></div>
      <%else %>
        <div><%= link_to '<i class="fas fa-caret-up"></i>'.html_safe, like_article_path(article), method: :put, remote: true %></div>
      <%end %>
      <div data-article="<%= article.id %>"><%= article.get_upvotes.size %></div>
    </div>
  </div>
</div>
<!-- @articles[each] = article
article.sub_categories.each
sub_category.name -->
