  <div class="comment-all">
    <div class="comment-inner-text">
      <div class="flex-photo-info">
      <div class="photo-user-article">
        <%= link_to user_path(answer.user) do %>
          <%=image_tag answer.user.photo_url, class: "avatar-article" %>
        <%end %>
      </div>
      <div class="user-infos-comment">
        <%= link_to user_path(answer.user) do %>
         <%= answer.user.first_name%> <%= answer.user.last_name%>
        <% end %>
        , <%=answer.date %>
      </div>
    </div>
  </div>
  <div class="text-sub-comment">
    <%= answer.text %>
  </div>
  <div class="footer-answer">
     <% if answer.by_user_answer_upvotes.any? {|by_user_answer_upvote| by_user_answer_upvote.user == current_user}%>
     <div data-answer-jaime='<%= answer.id %>' class="like-answer active <%= answer.sub_comment.comment.category.name%>">
    J'aime
    </div>
    <div data-answer='<%= answer.id %>'>
    (<%= answer.likes %>)
    </div>
     <%else %>
      <%= link_to like_answer_path(answer), method: :put, remote: true  do %>
    <div data-answer-jaime='<%= answer.id %>' class="like-answer <%= answer.sub_comment.comment.category.name%>">
    J'aime
    </div>
    <div data-answer='<%= answer.id %>'>
    (<%= answer.likes %>)
    </div>
    <%end %>
    <%end %>
  </div>
</div>
  <div class="linebetween8"></div>
