<div class="navbar-wagon">
  <div class="navbar-content">
    <div class="logo">
      <%if params[:query] && params[:query][:filter].nil? %>
      <%= link_to articles_path(query: { date_from: params.dig(:query, :date_from) }), class: "navbar-wagon-brand" do %>
        <%= image_tag "logopcc.png", height: 50 %>
      <h3 class="Penser-cest-chouette">Penser c'est chouette</h3>
      <% end %>
      <%else %>
        <%= link_to articles_path(query: { date_from: -30.days.from_now }), class: "navbar-wagon-brand" do %>
        <%= image_tag "logopcc.png", height: 50 %>
      <h3 class="Penser-cest-chouette">Penser c'est chouette</h3>
      <% end %>
      <%end %>
    </div>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <% if user_signed_in? %>
        <!-- Links when logged in -->
        <%#= link_to "Partager un article", new_article_path, class: "navbar-wagon-item button-black" %>
        <!-- Button trigger modal -->
          <button type="button" class="navbar-wagon-item btn btn-link modal-button-new-article" data-toggle="modal" data-target=".modal-create-article">
            Partager un article
          </button>

            <button type="button" class="user-comment-button btn btn-link" data-toggle="modal" data-target=".modal_new_comment">Lancer un débat</button>

          <div class="dropdown">
            <%= link_to update_number_user_path(current_user), method: :put, remote: true do %>
              <i class="fas fa-bell bell ", id="bell"></i>
              <%if current_user.red_circle_number != 0 && current_user.red_circle_number != nil %>
                <div class="red-circle">
                <%= current_user.red_circle_number %>

                </div>
              <%end %>
            <%end %>
            <div class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu notifications">
            <div class="title-notifs">Notifications</div>
            <div class="scroll">
              <%unless current_user.notifications.first.present? %>
              <div class="no-notifs">
                Aucune notification pour le moment. N'hésitez pas à partager, commenter et suivre des personnes.
                </div>
              <%end %>
            <% current_user.notifications.order(created_at: :desc).each do |notification| %>
              <%if notification.notif_user_id.present? %>
                <%if notification.status_active? %>
                  <%= link_to inactive_notification_path(notification), method: :put do %>
                    <div class="flex-notif">
                          <div>
                            <%=cl_image_tag User.find(notification.notif_user_id).photo, height: 50, width: 50, crop: :fill, gravity: :face, class: "avatar" %>
                          </div>
                      <div class="notif-infos">
                        <div class="notif-msg">
                          <%= notification.message %>
                        </div>
                        <div class="time-from">
                          <%  time_diff = (Time.current - notification.created_at)%>
                          <% if (time_diff / 1.minute).round < 60 %>
                           <%= (time_diff / 1.minute).round %> minutes
                          <% elsif (time_diff / 1.hour).round < 24 %>
                            <%= (time_diff / 1.hour).round %> heures
                          <%else %>
                            <%= (time_diff / 1.day).round%> jours
                          <%end %>
                        </div>

                      </div>
                    </div>
                  <%end %>
                  <div class="linebetween"></div>
                <%else %>
                  <%= link_to inactive_notification_path(notification), method: :put  do %>
                    <div class="flex-notif inactive">
                      <div>
                        <%=cl_image_tag User.find(notification.notif_user_id).photo, height: 50, width: 50, crop: :fill, gravity: :face, class: "avatar" %>
                      </div>
                      <div class="notif-infos">
                        <div class="notif-msg">
                          <%= notification.message %>
                        </div>
                        <div class="time-from">
                          <%  time_diff = (Time.current - notification.created_at)%>
                          <% if (time_diff / 1.minute).round < 60 %>
                            <%= (time_diff / 1.minute).round %> minutes
                          <% elsif (time_diff / 1.hour).round < 24 %>
                            <%= (time_diff / 1.hour).round %> heures
                          <%else %>
                            <%= (time_diff / 1.day).round%> jours
                          <%end %>
                        </div>

                      </div>
                    </div>
                  <%end %>
                  <div class="linebetween"></div>
                <%end %>
              <%end %>
            <%end %>
            </div>
            </div>
            </div>


      <!-- Avatar with dropdown menu -->
        <div class="navbar-wagon-item">
        <!--   <div class="searchbar">
            <%= form_tag articles_path, method: :get do %>
              <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find an article"
              %>
            <% end %>
          </div> -->
          <div class="dropdown">
            <%= cl_image_tag current_user.photo, height: 50, width: 50, crop: :fill, gravity: :face, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to user_path(current_user) do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "Profil") %>
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_path(current_user) do %>
                  <i class="fa fa-cog"></i>  <%= t(".settings", default: "Modifier mes infos") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Se déconnecter") %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      <% else %>
        <!-- Login link (when logged out) -->
        <%= link_to t(".sign_in", default: "Connexion"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link hidden" %>
      <% end %>
    </div>

    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Some mobile link</a></li>
          <li><a href="#">Other one</a></li>
          <li><a href="#">Other one</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

