  <div class="modal fade modal-create-article" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

          <div class="new-article-form">

            <h2>Partager un article</h2>

            <%= simple_form_for Article.new do |f| %>
              <%= f.input :URL, label: 'Lien de l\'article' %>
              <%= f.input :description, :as => :text, label: 'Commentaire' %>
              <div class="new-comment">
              <p>Sélectionnez une catégorie générale, puis une ou plusieurs sous catégories*</p>
              </div>

              <div class="categories">
                <% Category.all.each do |category| %>
                    <%= render 'categories/box', category: category, f: f %>
                <% end %>
              </div>
              <div class="article-submit">
                <%= f.submit 'Partager', class: "button-black" %>
              </div>
            <% end %>

          </div>
      </div>
    </div>
  </div>
