<div class="home-banner" >
  <h1>AFFIRME L'ESPRIT CRITIQUE</h1>
  <h3>
    Le monde est à refaire
  </h3>
</div>

<div class="home-wrapper">

  <div class="parole-auteur">
    <div class=profil-home >
      <%= image_tag "Camus.jpg", height: 170%>
    </div>
    <!-- <div class="citation speech-bubble"> -->
      <!-- <h3> -->
        <blockquote class="right speech-bubble camus" id="bubble-camus">
        Le goût de la vérité n'empêche pas de prendre parti.
        </blockquote>
      <!-- </h3> -->
    <!-- </div> -->
  </div>
        <p class="pull-left text-grey">Albert Camus</p>

  <div class="parole-auteur">
    <!-- <div class="citation" id="hanna-quote"> -->
      <!-- <h3> -->
      <div>
        <blockquote class="left" id="hanna-quote">
          La liberté d'opinion est une farce si l'information sur les faits n'est pas garantie.
        </blockquote>
        <!-- </h3> -->
        <p class="pull-right text-grey">Hanna Arendt</p>
      </div>
    <!-- </div> -->
    <div class="profil-home" id="Hanna-A">
      <%= image_tag "Arendt.jpg", height: 170%>
    </div>
  </div>

  <div class="parole-auteur">
    <div class="profil-home">
      <%= image_tag "Orwell.jpg", height: 170%>
    </div>
    <blockquote class="right citation speech-bubble" id="bubble-camus">
      <!-- <h3> -->
        A une époque de supercherie universelle, dire la vérité est un acte révolutionnaire.
      <!-- </h3> -->
    </blockquote>
  </div>
  <p class="pull-left text-grey">George Orwell</p>

  <div class="home-second-part">
    <h1>Penser c'est Chouette</h1>
    <h3>Le réseau social qu'ils auraient choisi</h3>
    <%= image_tag "logopcc.jpg", height: 400 %>
    <%= link_to "Nous rejoindre", articles_path, class: "button-black" %>
  </div>
</div>
