<div class="left-side-info left-side-info-index">
  <h2><%= @category.name %></h2>
  <div class="linebetween"></div>
  <ul class="liste-subcategory tablink">
    <% if sub_categories.present? %>
      <%= simple_form_for :query, method: :get, html: {id: 'sub-categories-form'} do |f| %>
        <%= f.input :sub_category_names, collection: sub_categories, as: :check_boxes, value_method: :name, checked: selected&.pluck(:name), input_html: {} %>
        <%= f.input :category_name, as: :hidden, input_html: { value: params.dig(:query, :category_name)} %>
      <% end %>
    <% end %>


</ul>
<h2>Les plus actifs</h2>
<div class="linebetween"></div>
 <%@articles.first(5).each do |article| %>
<div class="user">
  <div class="photo">
    <%=image_tag article.user.photo_url, class: "avatar_sidebar" %>
  </div>
  <div class="infos_user">
    <ul>
      <li class="user_name"><%=article.user.first_name %> <%=article.user.last_name  %> </li>
      <li class="info"><%=article.user.activity%></li>
      <li class="info"><%=article.user.articles.count%>
        <% if article.user.articles.count == 1 %>
          partage
        <%else %>
          partages
        <%end %>
      </li>
    </ul>
  </div>
</div>
 <%end %>


</div>
