<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <title>Penser c'est chouette - 1er réseau social d'échange d'informations et de débat: Ecologie, Politique, Economie, Numérique</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= favicon_link_tag 'logopcc.jpg' %>
  </head>

  <body>
    <div class="pcc-wrapper">
      <% unless params[:action] == "home" %>
        <%= render 'shared/navbar' %>
      <% end %>
      <%= render 'shared/flashes' %>
      <div class="content-layout">
        <%= yield %>
      </div>
      <%= render 'shared/footer' unless params[:action] == "home" %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
    </div>
  </body>
</html>
